# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/  <-- COMMENTED OUT to allow Next.js src/lib tracking
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

/results/data/embeddings/all_embeddings.parquet
/results/data/embeddings/profession_centroid_vectors.parquet

.env
.env.local
